sample1.bam
sample1.filtered.vcf.gz
sample1.filtered.vcf.gz.tbi
sample1_out.R1_fastqc.html
sample1_out.R1_fastqc.zip
sample1_out.R1.fq.gz
sample1_out.R2_fastqc.html
sample1_out.R2_fastqc.zip
sample1_out.R2.fq.gz
sample1_picard_metrics.txt
sample1_results.html
sample1_results.json
sample1.sam
sample1_sorted.bam
sample1_sorted.bam.bai
sample1_sorted_unique.bam
sample1_sorted_unique_recalibrated.bai
sample1_sorted_unique_recalibrated.bam
sample1_sorted_unique_recalibrated.bamout.bai
sample1_sorted_unique_recalibrated.bamout.bam
sample1.vcf.gz
sample1.vcf.gz.tbi
backup:
chrM.dict
chrM.fa
chrM.fa.amb
chrM.fa.ann
chrM.fa.bwt
chrM.fa.fai
chrM.fa.pac
chrM.fa.sa
fastp.json
sample1.bam
sample1_out.R1_fastqc.html
sample1_out.R1_fastqc.zip
sample1_out.R1.fq.gz
sample1_out.R2_fastqc.html
sample1_out.R2_fastqc.zip
sample1_out.R2.fq.gz
sample1_picard_metrics
sample1_results.html
sample1_results.json
sample1.sam
sample1_sorted.bam
sample1_sorted.bam.bai
sample1_sorted_unique.bam
reference/:
chrM.dict
chrM.fa
chrM.fa.amb
chrM.fa.ann
chrM.fa.bwt
chrM.fa.fai
chrM.fa.pac
chrM.fa.sa
A1-Intro_to_Sequencing_Data.pptx
A2-Intro_to_Data_Preprocessing.pptx
G0-Intro_to_Germline_Variant_Discovery_SCpresenter-notes.pptx
G1-Variant_calling_HaplotypeCaller.pptx
G2-Joint_calling_SCpresenter-notes.pptx
G3-Variant_filtering_SCpresenter-notes.pptx
G4-Genotype_Refinement.pptx
G5-Callset_Evaluation.pptx
New Text Document.txt
recal_data_table.txt
sample1.filtered.vep-annotated.vcf
slides_AP.pptx
slides_DG.pptx
A1-Intro_to_Sequencing_Data.pptx
A2-Intro_to_Data_Preprocessing.pptx
G0-Intro_to_Germline_Variant_Discovery_SCpresenter-notes.pptx
G1-Variant_calling_HaplotypeCaller.pptx
G2-Joint_calling_SCpresenter-notes.pptx
G3-Variant_filtering_SCpresenter-notes.pptx
G4-Genotype_Refinement.pptx
G5-Callset_Evaluation.pptx
New Text Document.txt
recal_data_table.txt
sample1.filtered.vep-annotated.vcf
slides_AP.pptx
slides_DG.pptx
